{% extends 'include/basic.html' %}
{% block title %} Max Pro | Home {%endblock%}
{% load static %}
{% block body %}

  <!-- Start Slider -->
  <section id="mu-slider">
    <!-- Start single slider item -->
    
    <!-- Start single slider item -->
    <!-- Start single slider item -->
   
    <!-- Start single slider item -->
    <!-- Start single slider item -->
   
    <!-- Start single slider item -->    
  </section>
  <!-- End Slider -->
  <!-- Start service  -->

  <!-- End service  -->

  <!-- Start about us -->
  
  <!-- End about us -->

  <!-- Start about us counter -->

  <!-- End about us counter -->

  <!-- Start features section -->
  
            <!-- End Title -->
            <!-- Start features content -->
           
            <!-- End features content -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End features section -->

  <!-- Start latest course section -->
  
            <!-- End Title -->
            <!-- Start latest course content -->
           
            <!-- End latest course content -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End latest course section -->

  <!-- Start our teacher -->
  
            <!-- end title -->
            <!-- begain our teacher content -->
            
            <!-- End our teacher content -->           
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End our teacher -->

  <!-- Start testimonial -->
  
              <!-- end testimonial single item -->
              <!-- start testimonial single item -->
             
              <!-- end testimonial single item -->
              <!-- start testimonial single item -->
             
              <!-- end testimonial single item -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End testimonial -->

  <!-- Start from blog -->
  <section id="mu-from-blog">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-from-blog-area">
            <!-- start title -->
            <div class="mu-title">
              <h2>Terms And Conditions</h2>
              <p>We valued your Personals Data</p>
            </div>
            <!-- end title -->  
            <!-- start from blog content   -->
            <div class="mu-from-blog-content">
              <div class="row">
                <div class="col-md-12 col-sm-12">
                  <article class="mu-blog-single-item">
                    <figure class="mu-blog-single-img">
                      <h2>What are Terms and Conditions<h2><br>
<p><h3 style="font-family:Arial;font-size:16px;">Terms and Conditions agreements act as a legal contract between you (the company) who has the website or mobile app and the user who access your website and mobile app.</p>

<p>Having a Terms and Conditions agreement is completely optional. No laws require you to have one. Not even the super-strict and wide-reaching General Data Protection Regulation (GDPR).</p>

<p>It's up to you to set the rules and guidelines that the user must agree to. You can think of your Terms and Conditions agreement as the legal agreement where you maintain your rights to exclude
 users from your app in the event that they abuse your app, where you maintain your legal rights against potential app abusers, and so on.</p>

<p>Terms and Conditions are also known as Terms of Service or Terms of Use.</p></h3>





<p><h3><b>Welcome to MaxProSite!</b></h3></p><br>

<p>These terms and conditions outline the rules and regulations for the use of MaxProSite.com, 
located at Kalanki.</p>

<p>By accessing this website we assume you accept these terms and conditions. Do not continue 
to use Website Name if you do not agree to take all of the terms and conditions stated on this page.</p>

<p>The following terminology applies to these Terms and Conditions, Privacy Statement and Disclaimer
 Notice and all Agreements: “Client”, “You” and “Your” refers to you, the person log on this website and compliant 
 to the Company's terms and conditions. “The Company”, “Ourselves”, “We”, “Our” and “Us”, refers to our Company. 
 “Party”, “Parties”, or “Us”, refers to both the Client and ourselves. All terms refer to the offer, acceptance 
 and consideration of payment necessary to undertake the process of our assistance to the Client in the most 
 appropriate manner for the express purpose of meeting the Client's needs in respect of provision of the
  Company's stated services, in accordance with and subject to, prevailing law of Netherlands. Any use 
  of the above terminology or other words in the singular, plural, capitalization and/or he/she or they,
   are taken as interchangeable and therefore as referring to same.</p>
                                          
                    </figure>
                    
                  </article>
                </div>
              </div>
            </div>     
            <!-- end from blog content   -->   
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End from blog -->
{%endblock%}